:root {
    --main-fonts: "Inter", sans-serif;
    --secondary-fonts: "Inter", sans-serif; /*solih*/
    --mainBG: #c6c6c6;
    --mainBGMirror: #c6c6c6d9;
    --darkerBG: #a1a1a1;
    --fontSize: 2rem;
    --fontC: #e5e5e5;
    --fontCdark: #2d2d2d;
    --btnClr: #013220;
    --btnClr2: #054202;
    --btnClrBlr: #054202a7;
    --accentClr: #f0b33e;
    --accentClrDark: #ce9936;
    --shadowClr: #8b8b8b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--fontCdark);
}
body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--main-fonts);
    font-weight: 200;
    background: var(--mainBG);
}

/*------Main buyu undsen heseg------*/
.main {
    width: 100%;
    height: auto;
}

/*---mini navigation---*/
#thinnav {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--fontCdark);
    color: var(--fontC);
    position: sticky;
    top: 0;
    z-index: 14;
}
.Welcome {
    width: 30vw;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1rem;
    font-family: var(--main-fonts);
    color: var(--fontC);
    padding-left: 30px;
}
.rightsd {
    width: 40vw;
    height: 30px;
    display: flex;
    overflow-y: visible;
}
.FAQhelp {
    width: 40rem;
    height: 30px;
    display: flex;
    justify-content: right;
    gap: 10px;
}
.FAQhelp a {
    color: var(--fontC);
    text-decoration: none;
    display: flex;
    align-items: center;
}
.FAQhelp h2 {
    width: auto;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 200;
    font-family: var(--main-fonts);
    color: var(--fontC);
}
.miniicon {
    width: 15rem;
    display: flex;
    flex-direction: row;
}
.miniicon a {
    width: 20px;
    height: 20px;
}
.miniicon a img {
    width: 20px;
    height: 20px;
}
.shpngcrt {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
.miniSocial {
    width: 65%;
    display: flex;
    justify-content: space-around;
    padding: 0 15px;
    align-items: center;
}
.anglihel {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*mini navigation heseg duusaw*/

/*---Gol menu button-d---*/
.navi:hover {
    background: var(--darkerBG);
    transition: 0.3s ease-in-out;
}
.navi {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    position: fixed;
    top: 30px;
    background: var(--mainBGMirror);
    backdrop-filter: blur(15px);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    transition: 0.4s ease;
    transition: top 0.3s;
    z-index: 13;
}
.navi.hidden {
    top: -100px;
}
.lftMenu div:hover {
    cursor: pointer;
}
.rghtMenu div:hover {
    cursor: pointer;
}
.lftMenu a {
    text-decoration: none;
}
.lftMenu {
    width: 30vw;
    height: 4.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 1rem;
}
.rghtMenu a {
    text-decoration: none;
}
.rghtMenu {
    width: 30vw;
    height: 4.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 1rem;
}
.navi img:hover {
    cursor: pointer;
}
.navi img {
    background-size: contain;
    width: 5rem;
    height: 5rem;
    z-index: 20;
}
.mnubtn {
    display: none;
    z-index: 15;
}
.mblMenu {
    display: none;
    z-index: 12;
}

/*-----------------------------Company Heseg START---------------------------*/
#mnContnr {
    width: 80%;
    display: flex;
    font-family: var(--main-fonts);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    row-gap: 1.5rem;
}

.firstInfo,
.secondInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.frstPic,
.scndPic {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frstPic img {
    width: 90%;
    background-repeat: no-repeat;
    background-size: contain;
}
.scndPic img {
    width: 75%;
    background-repeat: no-repeat;
    background-size: contain;
}
.frstIfno h3,
.scndIfno h3 {
    display: flex;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}
.frstIfno,
.scndIfno {
    width: 40%;
    display: flex;
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

#Milestone {
    width: 90%;
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.section {
    width: 15rem;
    height: 6.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--fontCdark);
    border-radius: 0.2rem;
    margin-bottom: 1.5rem;
}
.Numbers {
    font-size: 1.8rem;
    font-weight: 450;
    color: var(--fontCdark);
}
.descrptnOfNumber {
    font-size: 1.2rem;
    color: var(--fontCdark);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.Hamtragchid:hover .Hamtragchid-slide {
    animation-play-state: paused;
    transition: 0.5s ease;
}
.Hamtragchid {
    width: 90vw;
    overflow: hidden;
    padding: 1rem 0;
    white-space: nowrap;
    position: relative;
}

.Hamtragchid:before,
.Hamtragchid:after {
    position: absolute;
    top: 0;
    width: 15rem;
    height: 100%;
    content: "";
    z-index: 2;
}
.Hamtragchid:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--mainBG));
}
.Hamtragchid:after {
    right: 0;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        var(--mainBG)
    );
}
.Hamtragchid-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}
.Hamtragchid-slide img {
    height: 10rem;
    margin: 0 2rem;
}

#HamtrahHuselt:hover {
    cursor: pointer;
    box-shadow: 0 0 0 #3e3d3d99;
}
#HamtrahHuselt {
    width: 25rem;
    height: 2.8rem;
    margin: 2rem 0 3rem 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 400;
    background: var(--darkerBG);
    /*border: 0.5px solid var(--shadowClr);*/
    box-shadow: 0 0 2px #26262699;
}
#HamtrahHuselt img {
    width: 1.5rem;
    height: 1.5rem;
}
/*-----------------------------Company Heseg END---------------------------*/

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-corner {
    display: none;
}
::-webkit-scrollbar:hover {
    width: 13px;
}
::-webkit-scrollbar-thumb {
    background: #464646;
}
::-webkit-scrollbar-thumb:hover {
    background: #373636;
    width: 15px;
}

footer {
    width: 100%;
    height: auto;
    background-color: var(--darkerBG);
    display: flex;
    flex-direction: column;
    bottom: 0;
}
footer a {
    text-decoration: none;
    font-family: var(--main-fonts);
    color: var(--fontCdark);
}

.SocialCont {
    width: 100vw;
    display: flex;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 20vw;
    padding-right: 20vw;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}
.Emailicon:hover {
    opacity: 100%;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.Emailicon {
    flex-direction: row;
    width: 2rem;
    height: 2.2rem;
    margin-left: 11px;
    opacity: 90%;
}
.Facebookicon:hover {
    border-radius: 3px;
    opacity: 100%;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.Facebookicon {
    flex-direction: row;
    width: 2rem;
    height: 2rem;
    margin-left: 11px;
    opacity: 90%;
}
.Instagramicon:hover {
    border-radius: 3px;
    opacity: 100%;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.Instagramicon {
    flex-direction: row;
    width: 2rem;
    height: 2rem;
    margin-left: 11px;
    opacity: 70%;
}

.hayg {
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem 15vw;
    justify-content: space-around;
    font-family: var(--main-fonts);
    font-size: 1.5rem;
    font-weight: 350;
    flex-wrap: wrap;
    text-align: center;
}
.utas {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--fontCdark);
    padding: 2rem 0;
}
.MapsG {
    font-size: 1rem;
    height: auto;
}
.MapsG iframe {
    display: flex;
    margin: 1.5rem 10vw;
}
.line {
    width: 80%;
    height: 0.1rem;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 1rem;
    border: 0.1rem var(--fontCdark) solid;
    border-radius: 0.05rem;
}
.endcrdt {
    width: 100%;
    color: var(--fontCdark);
    font-weight: 400;
    font-family: var(--main-fonts);
    text-align: center;
    margin: 1.2rem 0;
}

/*---------------utasnii heseg START---------------*/
@media (max-width: 900px) {
    .Welcome {
        width: 40%;
    }
    .rightsd {
        width: 60%;
        padding-left: 0;
    }
    .SanalBolgoh {
        flex-direction: column-reverse;
        align-items: center;
    }
    .zurag1 img {
        width: 25rem;
        height: 20rem;
    }
    .navi:hover {
        background: var(--mainBGMirror);
    }
    .navi {
        justify-content: space-between;
    }
    .lftMenu {
        display: none;
    }
    .rghtMenu {
        display: none;
    }
    .mnubtn {
        margin: 1rem;
        position: relative;
        width: 3rem;
        height: 3rem;
        background: var(--mainBG);
        box-shadow: 0 0 8px #3e3d3d99;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
    }
    .mnubtn span {
        position: absolute;
        width: 2.2rem;
        height: 0.2rem;
        background: var(--fontCdark);
        border-radius: 0.2rem;
        transition: 0.3s;
    }
    .mnubtn span:nth-child(1) {
        transform: translateY(-13px);
    }
    .mnubtn.active span:nth-child(1) {
        transform: translateY(0px) rotate(45deg);
    }
    .mnubtn span:nth-child(2) {
        transform: translateY(13px);
    }
    .mnubtn.active span:nth-child(2) {
        transform: translateY(0px) rotate(-45deg);
    }
    .mnubtn.active span:nth-child(3) {
        opacity: 0;
    }
    .mnubtn.active {
        box-shadow: none;
    }
    .mblMenu div:hover {
        cursor: pointer;
    }
    .mblMenu a {
        text-decoration: none;
    }
    .mblMenu {
        display: flex;
        width: 100%;
        position: fixed;
        top: 6rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--mainBGMirror);
        font-size: 1.5rem;
        font-weight: 400;
        gap: 2.5rem;
        padding: 2rem;
        opacity: 0;
        backdrop-filter: blur(15px);
        padding-bottom: 4rem;
        transform: translate(0, -100%); /* Position off-screen */
        transition: transform 0.5s ease, opacity 0.5s ease, top 0.8s;
    }
    .mblMenu.hidden {
        top: -500px;
    }
    .mblMenu.show {
        /* Ensure the element is displayed */
        backdrop-filter: blur(15px);
        opacity: 1;
        transform: translate(0); /* Move into view */
    }

    /*-----------------------------Company Heseg START-------------------------*/
    .firstInfo {
        flex-direction: column;
    }
    .secondInfo {
        flex-direction: column-reverse;
    }
    .frstPic,
    .scndPic {
        width: 100%;
    }
    .frstPic img,
    .scndPic img {
        width: 100%;
    }
    .frstIfno h3,
    .scndIfno h3 {
        display: flex;
        font-size: clamp(2rem, 2.5vw, 2.5rem);
    }
    .frstIfno,
    .scndIfno {
        width: 100%;
        font-size: clamp(1rem, 1.5vw, 1.3rem);
    }
    #HamtrahHuselt:hover {
        cursor: pointer;
        box-shadow: 0 0 0 #3e3d3d99;
    }
    #HamtrahHuselt {
        width: 22.5rem;
        height: 2.8rem;
        margin: 2rem 0 3rem 0;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        display: flex;
        font-size: 1.2rem;
        font-weight: 400;
        background: var(--darkerBG);
        /*border: 0.5px solid var(--shadowClr);*/
        box-shadow: 0 0 2px #3e3d3d99;
    }
    #HamtrahHuselt img {
        width: 1.5rem;
        height: 1.5rem;
    }
    /*-----------------------------Company Heseg END---------------------------*/

    /*-----------------------------Ecological Heseg START-------------------------*/
    /*-----------------------------Ecological Heseg END---------------------------*/

    /*-----------------------------Calculate Heseg START-------------------------*/
    /*-----------------------------Calculate Heseg END---------------------------*/

    /*-----------------------------Advice Heseg START-------------------------*/
    /*-----------------------------Advice Heseg END---------------------------*/
}

@media (max-width: 610px) {
    #thinnav {
        display: none;
    }
    .navi {
        top: 0;
    }
    .mblMenu {
        top: 6rem;
    }
    /*.swiper-navBtn{
        display: none;
    }*/

    /*-----------------------------Company Heseg START---------------------------*/
    /*-----------------------------Company Heseg END---------------------------*/

    /*-----------------------------Ecological Heseg START---------------------------*/
    /*-----------------------------Ecological Heseg END---------------------------*/

    /*-----------------------------Calculate Heseg START---------------------------*/
    /*-----------------------------Calculate Heseg END---------------------------*/

    /*-----------------------------Advice Heseg START---------------------------*/
    /*-----------------------------Advice Heseg END---------------------------*/
}
/*---------------utasnii heseg END-----------------*/

/*root elementuud*/
:root {
    --main-fonts: "Inter", sans-serif;
    --secondary-fonts: "Inter", sans-serif; /*solih*/
    --mainBG: #c6c6c6;
    --mainBGMirror: #c6c6c6d9;
    --darkerBG: #a1a1a1;
    --fontSize: 2rem;
    --fontC: #e5e5e5;
    --fontCdark: #2d2d2d;
    --btnClr: #013220;
    --btnClr2: #054202;
    --btnClrBlr: #054202a7;
    --accentClr: #f0b33e;
    --accentClrDark: #ce9936;
    --shadowClr: #8b8b8b;
    --warningColor: #a3960f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--fontCdark);
}
body {
    width: 100%;
    height: auto;
    font-family: var(--main-fonts);
    font-weight: 200;
    background: var(--mainBG);
}

/*------Main buyu undsen heseg------*/
.main {
    width: 100%;
    height: auto;
}

/*---mini navigation---*/
#thinnav {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--fontCdark);
    color: var(--fontC);
    position: sticky;
    top: 0;
    z-index: 14;
}
.Welcome {
    width: 30vw;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1rem;
    font-family: var(--main-fonts);
    color: var(--fontC);
    padding-left: 30px;
}
.rightsd {
    width: 40vw;
    height: 30px;
    display: flex;
    overflow-y: visible;
}
.FAQhelp {
    width: 40rem;
    height: 30px;
    display: flex;
    justify-content: right;
    gap: 10px;
}
.FAQhelp a {
    color: var(--fontC);
    text-decoration: none;
    display: flex;
    align-items: center;
}
.FAQhelp h2 {
    width: auto;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 200;
    font-family: var(--main-fonts);
    color: var(--fontC);
}
.miniicon {
    width: 15rem;
    display: flex;
    flex-direction: row;
}
.miniicon a {
    width: 20px;
    height: 20px;
}
.miniicon a img {
    width: 20px;
    height: 20px;
}
.shpngcrt {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
.miniSocial {
    width: 65%;
    display: flex;
    justify-content: space-around;
    padding: 0 15px;
    align-items: center;
}
.anglihel {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*mini navigation heseg duusaw*/

/*---Gol menu button-d---*/
.navi:hover {
    background: var(--darkerBG);
    transition: 0.3s ease-in-out;
}
.navi {
    width: 100%;
    height: auto;
    position: fixed;
    top: 30px;
    background: var(--mainBGMirror);
    backdrop-filter: blur(15px);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    transition: 0.4s ease;
    transition: top 0.3s;
    z-index: 13;
}
.navi.hidden {
    top: -100px;
}
.lftMenu div:hover {
    cursor: pointer;
}
.rghtMenu div:hover {
    cursor: pointer;
}
.lftMenu a {
    text-decoration: none;
}
.lftMenu {
    width: 30vw;
    height: 4.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 1rem;
}
.rghtMenu a {
    text-decoration: none;
}
.rghtMenu {
    width: 30vw;
    height: 4.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 1rem;
}
.navi img:hover {
    cursor: pointer;
}
.navi img {
    background-size: contain;
    width: 5rem;
    height: 5rem;
    z-index: 20;
}
.mnubtn {
    display: none;
    z-index: 15;
}
.mblMenu {
    display: none;
    z-index: 12;
}
/*gol menu button duusaw*/

/*daraah heseg n main content-n code*/
#landingP {
    width: 100%;
    height: auto;
    padding-top: 4.5rem;
    background: var(--mainBG);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*---nuur huudasnii gol medeelel---*/
.SanalBolgoh {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.medeelliinheseg {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    z-index: 10;
}
.medeelliinheseg h1 {
    font-size: 3rem;
}
.medeelliinheseg h3 {
    font-size: 1.1rem;
    font-weight: 500;
}
.shuudhudaldah {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 2rem;
}
.fnctbtn:hover {
    cursor: pointer;
}
.fnctbtn {
    width: 10rem;
    height: 3rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    transition: 0.15s ease;
}
.buy:hover {
    background: var(--btnClr);
    box-shadow: 0 0 0 #3e3d3d99;
}
.buy {
    background: var(--btnClr2);
    color: var(--fontC);
    box-shadow: 0 0 4px #3e3d3d99;
}
.cart:hover {
    color: var(--btnClr);
    box-shadow: 0 0 2px var(--btnClrBlr);
}
.cart {
    box-shadow: 0 0 5px var(--btnClrBlr);
}
.zurag1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zurag1 img {
    width: 30rem;
    height: 25rem;
}
/*gol medeelliin heseg duusaw*/

/*--busad buteegdehuunuud--*/
.BusadProd {
    width: 85%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-container {
    width: 100%;
}
.slide-content {
    padding: 3rem 1.2rem;
    margin: 0 40px;
    overflow: hidden;
}
.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
}
.image-content {
    row-gap: 0.8rem;
}
.card {
    width: 20rem;
    border-radius: 0.2rem;
    background: var(--shadowClr);
}
.card-image {
    position: relative;
    height: 10rem;
    width: 12rem;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.name {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--fontC);
}
.descrptn {
    font-size: 1rem;
    color: var(--fontC);
    text-align: center;
}
.VMore:hover {
    background-color: var(--shadowClr);
    color: var(--fontC);
    border: 1px solid var(--darkerBG);
}
.VMore {
    border: none;
    font-size: 1.3rem;
    color: var(--fontC);
    background-color: var(--darkerBG);
    border-radius: 0.2rem;
    border: 1px solid var(--darkerBG);
    padding: 8px 16px;
    margin: 14px;
    cursor: pointer;
    transition: 0.2s ease;
}
.swiper-navBtn:hover {
    color: var(--fontCdark);
}
.swiper-navBtn {
    width: 2rem;
    height: 2rem;
    color: #8b8b8b;
    transition: 0.3s ease;
}
.swiper-pagination-bullet {
    background-color: #8b8b8b;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #565656;
}
/*busad buteegdehuunuud ene hurtel*/

/*-----------------------------Ecological Heseg START-------------------------*/
/*-----------------------------Ecological Heseg END---------------------------*/

/*-----------------------------Calculate Heseg START-------------------------*/
.tootsoolohW {
    width: 100%;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hariu {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.songolt,
.warningmsg,
.MonthlySSS,
.SumSSS {
    width: 80%;
}
.songolt {
    width: 100%;
    display: flex;
}
.songolt1 {
    width: 50%;
}
.songolt2 {
    width: 50%;
}
.warningmsg {
    border: 1px solid var(--warningColor);
    border-radius: 0.2rem;
    padding: 0.5rem 1.2rem;
    font-size: 0.85rem;
    color: var(--warningColor);
    text-align: center;
}
.MonthlySSS h1 {
    text-align: end;
}
.SumSSS h1 {
    text-align: end;
}
.VertLine {
    width: 1.5px;
    height: 25rem;
    border: 1.5px solid var(--fontCdark);
    margin: 2rem 2rem;
}
.baishinInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}
.baishinInfo h1 {
    text-align: center;
}
.numinfo {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 1rem;
}
.tailbarUg,
.ToonUtga {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
}
.tailbarUg {
    justify-content: center;
    align-items: end;
    font-weight: 400;
}
.ToonUtga input {
    width: 70%;
    border: none;
    padding: 0.3rem 0;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    text-align: center;
}
.baishinInfo button:hover {
    cursor: pointer;
    background: var(--mainBG);
    color: var(--btnClrBlr);
    border: 1px solid var(--btnClrBlr);
}
.baishinInfo button {
    padding: 0.5rem 2rem;
    font-size: 1.3rem;
    border-radius: 0.15rem;
    border: 1px solid var(--btnClrBlr);
    background: var(--btnClrBlr);
    color: var(--fontC);
    transition: 0.2s ease;
}
/*-----------------------------Calculate Heseg END---------------------------*/

/*-----------------------------Advice Heseg START-------------------------*/
#AdvPage {
    display: flex;
    padding-top: 4.3rem;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: auto;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    justify-content: center;
    align-items: center;
    /*background-color: #e5e5e5;*/
    background-size: 300% 300%;
    animation: color 10s ease-in-out infinite forwards;
    color: #fdfcfd;
    font-family: var(--main-fonts);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-corner {
    display: none;
}
::-webkit-scrollbar:hover {
    width: 13px;
}
::-webkit-scrollbar-thumb {
    background: #464646;
}
::-webkit-scrollbar-thumb:hover {
    background: #373636;
    width: 15px;
}
.cardd:hover {
    box-shadow: 4px 6px 8px #1210175e;
    transform: translateY(3px);
    transition: 0.3s ease-in-out;
    opacity: 1;
}
.cardd {
    display: flex;
    align-items: center;
    width: 80vw;
    max-width: 1050px;
    min-width: 480px;
    min-height: 400px;
    padding: 80px 30px 60px 20px;
    margin: 30px 20px;
    background: var(--darkerBG);
    border-radius: 0.3rem;
    box-shadow: 8px 8px 8px #1210175e;
    opacity: 0.95;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
}
.cardd img {
    max-width: 280px;
    width: 35vw;
    height: 380px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 80px;
    border-radius: 10px;
    box-shadow: 0 60px 40px rgb(0 0 0/8%);
}
.cardd h2 {
    font-size: 2.3rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 20px;
    font-family: var(--mainfont-fonts);
}
.cardd h3 {
    font-family: var(--mainfont-fonts);
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin: 10px 0;
    opacity: 0.75;
}
.cardd p {
    display: flex;
    font-family: var(--mainfont-fonts);
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 50px;
    opacity: 0.7;
}
.cardd button:hover {
    box-shadow: inset 500px 0 0 0 #0e602c;
    transition: ease-out 0.4s;
    animation: fade-in linear;
    color: var(--fontC);
    cursor: pointer;
}
.cardd button {
    width: 60%;
    display: grid;
    place-items: center;
    border: 0;
    overflow: hidden;
    background: var(--btnClr);
    color: #e9e3d5;
    padding: 16px 26px;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    text-decoration: none;
}

/*-----------------------------Advice Heseg END---------------------------*/
/*main content ene hurtel*/

/*footer section footer n @media heseg deer edit hiigdehgui */
footer {
    width: 100%;
    height: auto;
    background-color: var(--darkerBG);
    display: flex;
    flex-direction: column;
    bottom: 0;
}
footer a {
    text-decoration: none;
    font-family: var(--main-fonts);
    color: var(--fontCdark);
}

.SocialCont {
    width: 100vw;
    display: flex;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 20vw;
    padding-right: 20vw;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}
.Emailicon:hover {
    opacity: 100%;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.Emailicon {
    flex-direction: row;
    width: 2rem;
    height: 2.2rem;
    margin-left: 11px;
    opacity: 90%;
}
.Facebookicon:hover {
    border-radius: 3px;
    opacity: 100%;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.Facebookicon {
    flex-direction: row;
    width: 2rem;
    height: 2rem;
    margin-left: 11px;
    opacity: 90%;
}
.Instagramicon:hover {
    border-radius: 3px;
    opacity: 100%;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.Instagramicon {
    flex-direction: row;
    width: 2rem;
    height: 2rem;
    margin-left: 11px;
    opacity: 70%;
}

.hayg {
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem 15vw;
    justify-content: space-around;
    font-family: var(--main-fonts);
    font-size: 1.5rem;
    font-weight: 350;
    flex-wrap: wrap;
    text-align: center;
}
.utas {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--fontCdark);
    padding: 2rem 0;
}
.MapsG {
    font-size: 1rem;
    height: auto;
}
.MapsG iframe {
    display: flex;
    margin: 1.5rem 10vw;
}
.line {
    width: 80vw;
    height: 0.1rem;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 1rem;
    border: 0.1rem var(--fontCdark) solid;
    border-radius: 0.05rem;
}
.endcrdt {
    width: 100%;
    color: var(--fontCdark);
    font-weight: 400;
    font-family: var(--main-fonts);
    text-align: center;
    margin: 1.2rem 0;
}

/*-------------------------------------------------------------*/

/*For tablet 834px*/
@media (max-width: 850px) {
    .Welcome {
        width: 40%;
    }
    .rightsd {
        width: 60%;
        padding-left: 0;
    }
    .SanalBolgoh {
        flex-direction: column-reverse;
        align-items: center;
    }
    .zurag1 img {
        width: 25rem;
        height: 20rem;
    }
    .navi:hover {
        background: var(--mainBGMirror);
    }
    .navi {
        justify-content: space-between;
    }
    .lftMenu {
        display: none;
    }
    .rghtMenu {
        display: none;
    }
    .mnubtn {
        margin: 1rem;
        position: relative;
        width: 3rem;
        height: 3rem;
        background: var(--mainBG);
        box-shadow: 0 0 8px #3e3d3d99;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
    }
    .mnubtn span {
        position: absolute;
        width: 2.2rem;
        height: 0.2rem;
        background: var(--fontCdark);
        border-radius: 0.2rem;
        transition: 0.3s;
    }
    .mnubtn span:nth-child(1) {
        transform: translateY(-13px);
    }
    .mnubtn.active span:nth-child(1) {
        transform: translateY(0px) rotate(45deg);
    }
    .mnubtn span:nth-child(2) {
        transform: translateY(13px);
    }
    .mnubtn.active span:nth-child(2) {
        transform: translateY(0px) rotate(-45deg);
    }
    .mnubtn.active span:nth-child(3) {
        opacity: 0;
    }
    .mnubtn.active {
        box-shadow: none;
    }
    .mblMenu div:hover {
        cursor: pointer;
    }
    .mblMenu a {
        text-decoration: none;
    }
    .mblMenu {
        display: flex;
        width: 100%;
        position: fixed;
        top: 6rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--mainBGMirror);
        font-size: 1.5rem;
        font-weight: 400;
        gap: 2.5rem;
        padding: 2rem;
        opacity: 0;
        backdrop-filter: blur(15px);
        padding-bottom: 4rem;
        transform: translate(0, -100%); /* Position off-screen */
        transition: transform 0.5s ease, opacity 0.5s ease, top 0.8s;
    }
    .mblMenu.hidden {
        top: -500px;
    }
    .mblMenu.show {
        /* Ensure the element is displayed */
        backdrop-filter: blur(15px);
        opacity: 1;
        transform: translate(0); /* Move into view */
    }

    .SanalBolgoh {
        width: 85%;
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .medeelliinheseg h1 {
        font-size: 2.5rem;
    }
    .medeelliinheseg h2 {
        font-size: 1.2rem;
    }
    .medeelliinheseg h3 {
        font-size: 1rem;
        font-weight: 500;
    }
    .medeelliinheseg {
        width: 100%;
    }
}

@media (max-width: 610px) {
    #thinnav {
        display: none;
    }
    .navi {
        top: 0;
    }
    .mblMenu {
        top: 6rem;
    }
    /*.swiper-navBtn{
        display: none;
    }*/
}
/*For mobile 480px*/
@media (max-width: 480px) {
}
