:root{
    --main-fonts: "Inter", sans-serif;
    --secondary-fonts: "Inter", sans-serif;/*solih*/
    --mainBG: #c6c6c6;
    --mainBGMirror: #c6c6c6d9;
    --darkerBG:#a1a1a1;
    --fontSize: 2rem;
    --fontC: #e5e5e5;
    --fontCdark: #2d2d2d;
    --btnClr: #013220; 
    --btnClr2: #054202;
    --btnClrBlr: #054202a7;
    --accentClr: #f0b33e;
    --accentClrDark: #ce9936;
    --shadowClr: #8b8b8b;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--fontCdark);
}
body{
    width: 100%;
    height: auto;
    font-family: var(--main-fonts);
    font-weight: 200;
    background: var(--mainBG);
}

/*------Main buyu undsen heseg------*/
.main{
    width: 100%;
    height: auto;
}

/*---mini navigation---*/
#thinnav{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--fontCdark);
    color: var(--fontC);
    position: sticky;
    top: 0;
    z-index: 14;
}
.Welcome{
    width: 30vw;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1rem;
    font-family: var(--main-fonts);
    color: var(--fontC);
    padding-left: 30px;
}
.rightsd{
    width: 40vw;
    height: 30px;
    display: flex;
    overflow-y: visible;
}
.FAQhelp{
    width: 40rem;
    height: 30px;
    display: flex;
    justify-content: right;
    gap: 10px;
}
.FAQhelp a{
    color: var(--fontC);
    text-decoration: none;
    display: flex;
    align-items: center;
}
.FAQhelp h2{
    width: auto;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 200;
    font-family: var(--main-fonts);
    color: var(--fontC);
}
.miniicon{
    width: 15rem;
    display: flex;
    flex-direction: row;
}
.miniicon a{
    width: 20px;
    height: 20px;
}
.miniicon a img{
    width: 20px;
    height: 20px;
}
.shpngcrt{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
.miniSocial{
    width: 65%;
    display: flex;
    justify-content: space-around;
    padding: 0 15px;
    align-items: center;
}
.anglihel{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*mini navigation heseg duusaw*/


/*---Gol menu button-d---*/
.navi:hover{
    background:var(--darkerBG);
    transition: 0.3s ease-in-out;
}
.navi{
    width: 100%;
    height: auto;
    position: fixed;
    top: 30px;
    background: var(--mainBGMirror);
    backdrop-filter: blur(15px);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    transition: 0.4s ease;
    transition: top 0.3s;
    z-index: 13;
}
.navi.hidden{
    top: -100px;
}
.lftMenu div:hover{
    cursor: pointer;
}
.rghtMenu div:hover{
    cursor: pointer;
}
.lftMenu a{
    text-decoration: none;
}
.lftMenu{
    width: 30vw;
    height: 4.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 1rem;
}
.rghtMenu a{
    text-decoration: none;
}
.rghtMenu{
    width: 30vw;
    height: 4.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 1rem;
}
.navi img{
    background-size: contain;
    width: 5rem;
    height: 5rem;
    z-index: 20;
}
.mnubtn{
    display: none;
    z-index: 15;
}
.mblMenu{
    display: none;
    z-index: 12;
}








footer{
    width: 100%;
    height: auto;
    background-color: var(--darkerBG);
    display: flex;
    flex-direction: column;
    bottom: 0;
}
footer a{
    text-decoration: none;
    font-family: var(--main-fonts);
    color: var(--fontCdark);
}

.SocialCont{
    width: 100vw;
    display: flex;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 20vw;
    padding-right: 20vw;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}
.Emailicon:hover{
    opacity: 100%;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.Emailicon{
    flex-direction: row;
    width: 2rem;
    height: 2.2rem;
    margin-left: 11px;
    opacity: 90%;
}
.Facebookicon:hover{
    border-radius: 3px;
    opacity: 100%;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.Facebookicon{
    flex-direction: row;
    width: 2rem;
    height: 2rem;
    margin-left: 11px;
    opacity: 90%;
}
.Instagramicon:hover{
    border-radius: 3px;
    opacity: 100%;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.Instagramicon{
    flex-direction: row;
    width: 2rem;
    height: 2rem;
    margin-left: 11px;
    opacity: 70%;
}

.hayg{
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem 15vw;
    justify-content: space-around;
    font-family: var(--main-fonts);
    font-size: 1.5rem;
    font-weight: 350;
    flex-wrap: wrap;
    text-align: center;
}
.utas{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--fontCdark);
    padding: 2rem 0;
}
.MapsG{
    font-size: 1rem;
    height: auto;
}
.MapsG iframe{
    display: flex;
    margin:1.5rem 10vw;
}
.line{
    width: 80vw;
    height: 0.1rem;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 1rem;
    border: 0.1rem var(--fontCdark) solid;
    border-radius: 0.05rem;
}
.endcrdt{
    width: 100%;
    color: var(--fontCdark);
    font-weight: 400;
    font-family: var(--main-fonts);
    text-align: center;
    margin: 1.2rem 0;
}



/*---------------utasnii heseg---------------*/
@media (max-width: 850px){
    .Welcome{
        width: 40%;
    }
    .rightsd{
        width: 60%;
        padding-left: 0;
    }
    .SanalBolgoh{
        flex-direction: column-reverse;
        align-items: center;
    }
    .zurag1 img{
        width: 25rem;
        height: 20rem;
    }
    .navi:hover{
        background: var(--mainBGMirror);
    }
    .navi{
        justify-content: space-between;
    }
    .lftMenu{
        display: none;
    }
    .rghtMenu{
        display: none;
    }
    .mnubtn{
        margin: 1rem;
        position: relative;
        width: 3rem;
        height: 3rem;
        background: var(--mainBG);
        box-shadow: 0 0 8px #3e3d3d99;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
    }
    .mnubtn span{
        position: absolute;
        width: 2.2rem;
        height: 0.2rem;
        background: var(--fontCdark);
        border-radius: 0.2rem;
        transition: 0.3s;
    }
    .mnubtn span:nth-child(1){
        transform: translateY(-13px);
    }
    .mnubtn.active span:nth-child(1){
        transform: translateY(0px) rotate(45deg);
    }
    .mnubtn span:nth-child(2){
        transform: translateY(13px);
    }
    .mnubtn.active span:nth-child(2){
        transform: translateY(0px) rotate(-45deg);
    }
    .mnubtn.active span:nth-child(3){
        opacity: 0;
    }
    .mnubtn.active{
        box-shadow: none;
    }
    .mblMenu div:hover{
        cursor: pointer;
    }
    .mblMenu{
        display: flex;
        width: 100%;
        position: fixed;
        top: 6rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--mainBGMirror);
        font-size: 1.5rem;
        font-weight: 400;
        gap: 2.5rem;
        padding: 2rem;
        opacity: 0;
        backdrop-filter: blur(15px);
        padding-bottom: 4rem;            
        transform: translate(0,-100%); /* Position off-screen */
        transition: transform 0.5s ease, opacity 0.5s ease, top 0.8s;
    }
    .mblMenu.hidden{
        top: -500px;
    }
    .mblMenu.show { /* Ensure the element is displayed */
        backdrop-filter: blur(15px);
        opacity: 1;
        transform: translate(0); /* Move into view */
    }
}


@media (max-width: 610px){
    #thinnav{
        display: none;
    }
    .navi{
        top: 0;
    }
    .mblMenu{
        top: 6rem;
    }
    /*.swiper-navBtn{
        display: none;
    }*/
}